.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
#ace_editor
{
    width: 100vw;
}
#send_solution_button
{
    margin:10px;
}
#language_selection
{
    max-height: 100px;
}
#loading_overlay
{

    min-height:93vh;

}
#loaders
{
    text-align: center;
}
#loaders .spinner-grow
{

    margin : 10px;
}
#evaluation_message
{

    margin:10px;
    font-size: 30px;
}

.task_info
{

}
.problem_statement_wrapper
{
    margin :40px 10px;
}
.languages_list_wrapper
{
    margin : 40px 10px;
}
.languages_list_wrapper span
{
    transition: background-color .1s ease-in;
    width : 120px;
    text-align: center;
    padding:15px;
    margin:10px;
    border-radius: 5px;
    background-color: grey;
    color:#fff;
    cursor : pointer;
}
.active_language
{
    background-color: #0069d9 !important;
}
.gif_placeholder
{
    width:150px;
    height:150px;
    border-radius: 50%;
}