.subtitle
{
    font-size: 25px;
    margin : 40px 10px 0px 0px 0px;
    text-align: center;
}
.lab_answer_choice_button {
    transition: background-color .1s ease-in;
    min-width : 120px;
    text-align: center;
    padding:15px;
    margin:10px;
    border-radius: 5px;
    background-color: grey;
    color:#fff;
    cursor : pointer;
}
.lab_active_answer_choice
{
background-color: #0069d9 !important;    
}
