.subtitle
{
    font-size: 25px;
    margin : 40px 10px 0px 0px 0px;
    text-align: center;
}
.lab_answer_choice_button {
    transition: background-color .1s ease-in;
    min-width : 120px;
    text-align: center;
    padding:15px;
    margin:10px;
    border-radius: 5px;
    background-color: grey;
    color:#fff;
    cursor : pointer;
}
.lab_active_answer_choice
{
background-color: #0069d9 !important;    
}

.lab_score_table td
{
    vertical-align:middle;
}

.tutorial_card
{
    cursor: pointer;
    transition: all .2s ease-in;
}
.tutorial_card:hover
{
    transform: scale(1.025);
}

.tutorial_page_wrapper .nav-link
{

}
.tutorial_page_wrapper .nav-link.active
{
    background-color: #28a745 !important;
}
@media only screen and (max-width:991px) {
    .sidebar
    {
        position: relative !important;
        height: auto !important;
    }
    
}