
.list_wrapper span
{
    padding:15px;
    margin:10px;
    border-radius: 5px;
}
.list_wrapper span:nth-child(4n+1)
{
    background-color: red;
}
.list_wrapper span:nth-child(4n+2)
{
    background-color: green;
}
.list_wrapper span:nth-child(4n+3)
{
    background-color: rgb(255, 174, 0);
}
.list_wrapper span:nth-child(4n)
{
    background-color: blue;
}
.list_wrapper a, .list_wrapper a:hover
{
    color: #fff;
    outline: none;
    text-decoration: none;
}